/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex-end {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-start {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
nav header {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header a {
  margin: 20px;
}
section {
  margin: 50px;
  height: 900px;
  background-color: grey;
}
section img {
  height: 50%;
  margin: 50px;
}
section h1 {
  font-size: 3.5rem;
  margin-left: 50px;
}
section h2 {
  font-size: 2rem;
  margin-left: 50px;
  margin-top: 1rem;
  margin-bottom: 20px;
  padding: 1rem;
  border-bottom: 1px solid white;
}
section h3 {
  font-size: 1.5rem;
  margin-left: 50px;
}
section button {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-left: 50px;
  border: solid red 1px;
}
article {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article left-side {
  margin-left: 50px;
  width: 200px;
}
article right-side {
  margin-left: 50px;
  margin-right: 50px;
  width: 600px;
}
article h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}
article h3 {
  padding: 5px;
  font-size: 1.5rem;
  border: 1px solid black;
}
article p {
  margin-top: 10px;
  font-size: 1.5rem;
  height: 600px;
}
aside {
  height: 600px;
  border: 1px solid red;
}
aside .section1 {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
  background: grey;
}
aside .section2 {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}
aside .section3 {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
  background: grey;
}
aside .section4 {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}
aside h2 {
  font-size: 3rem;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
}
aside h3 {
  font-size: 2rem;
  padding: 20px;
}
aside h4 {
  font-size: 2rem;
  padding: 20px;
}
footer {
  height: 100px;
  margin: 50px;
}
footer a {
  font-size: 3rem;
}
@media (max-width: 500px) {
  nav header {
    font-size: 1rem;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    border: 1px solid red;
  }
  section img {
    width: 200px;
    height: 200px;
  }
  section h1 {
    font-size: 2rem;
  }
  section h2 {
    font-size: 1rem;
  }
  section button {
    font-size: 1rem;
    background: pink;
  }
  article {
    height: 1000px;
  }
  aside {
    height: 550px;
  }
  aside .section1 h3 {
    font-size: 1rem;
  }
  aside .section1 h4 {
    font-size: 1rem;
  }
  aside .section2 h3 {
    font-size: 1rem;
  }
  aside .section2 h4 {
    font-size: 1rem;
  }
  aside .section3 h3 {
    font-size: 1rem;
  }
  aside .section3 h4 {
    font-size: 1rem;
  }
  aside .section4 h3 {
    font-size: 1rem;
  }
  aside .section4 h4 {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  nav header {
    font-size: 1rem;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    border: 1px solid red;
  }
  section img {
    width: 200px;
    height: 200px;
  }
  section h1 {
    font-size: 2rem;
  }
  section h2 {
    font-size: 1rem;
  }
  section button {
    font-size: 1rem;
    background: pink;
  }
  article {
    height: 1000px;
  }
  aside {
    height: 550px;
  }
  aside .section1 h3 {
    font-size: 1rem;
  }
  aside .section1 h4 {
    font-size: 1rem;
  }
  aside .section2 h3 {
    font-size: 1rem;
  }
  aside .section2 h4 {
    font-size: 1rem;
  }
  aside .section3 h3 {
    font-size: 1rem;
  }
  aside .section3 h4 {
    font-size: 1rem;
  }
  aside .section4 h3 {
    font-size: 1rem;
  }
  aside .section4 h4 {
    font-size: 1rem;
  }
}
